USE [cuahang_dongho_new]
GO
ALTER TABLE [dbo].[MUA] DROP CONSTRAINT [FK_MUA_MUA3_KHACHHAN]
GO
ALTER TABLE [dbo].[MUA] DROP CONSTRAINT [FK_MUA_MUA2_DONGHO]
GO
ALTER TABLE [dbo].[MUA] DROP CONSTRAINT [FK_MUA_MUA_PHIEUBAO]
GO
ALTER TABLE [dbo].[DONGHO] DROP CONSTRAINT [FK_DONGHO_THUOC_HANGDONG]
GO
ALTER TABLE [dbo].[DONGHO] DROP CONSTRAINT [FK_DONGHO_QUANLY_NHANVIEN]
GO
ALTER TABLE [dbo].[DONGHO] DROP CONSTRAINT [FK_DONGHO_CUNGCAP_NHACUNGC]
GO
ALTER TABLE [dbo].[DONGHO] DROP CONSTRAINT [FK_DONGHO_BAOGOM_THONGSOK]
GO
ALTER TABLE [dbo].[DIACHIGIAOHANG] DROP CONSTRAINT [FK_DIACHIGI_MUAQUA_KHACHHAN]
GO
/****** Object:  Index [MUA3_FK]    Script Date: 1/6/2025 9:22:18 PM ******/
DROP INDEX [MUA3_FK] ON [dbo].[MUA]
GO
/****** Object:  Index [MUA2_FK]    Script Date: 1/6/2025 9:22:18 PM ******/
DROP INDEX [MUA2_FK] ON [dbo].[MUA]
GO
/****** Object:  Index [MUA_FK]    Script Date: 1/6/2025 9:22:18 PM ******/
DROP INDEX [MUA_FK] ON [dbo].[MUA]
GO
/****** Object:  Index [THUOC_FK]    Script Date: 1/6/2025 9:22:18 PM ******/
DROP INDEX [THUOC_FK] ON [dbo].[DONGHO]
GO
/****** Object:  Index [QUANLY_FK]    Script Date: 1/6/2025 9:22:18 PM ******/
DROP INDEX [QUANLY_FK] ON [dbo].[DONGHO]
GO
/****** Object:  Index [CUNGCAP_FK]    Script Date: 1/6/2025 9:22:18 PM ******/
DROP INDEX [CUNGCAP_FK] ON [dbo].[DONGHO]
GO
/****** Object:  Index [BAOGOM_FK]    Script Date: 1/6/2025 9:22:18 PM ******/
DROP INDEX [BAOGOM_FK] ON [dbo].[DONGHO]
GO
/****** Object:  Index [MUAQUA_FK]    Script Date: 1/6/2025 9:22:18 PM ******/
DROP INDEX [MUAQUA_FK] ON [dbo].[DIACHIGIAOHANG]
GO
/****** Object:  Table [dbo].[THONGSOKITHUAT]    Script Date: 1/6/2025 9:22:18 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[THONGSOKITHUAT]') AND type in (N'U'))
DROP TABLE [dbo].[THONGSOKITHUAT]
GO
/****** Object:  Table [dbo].[PHIEUBAOHANH]    Script Date: 1/6/2025 9:22:18 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHIEUBAOHANH]') AND type in (N'U'))
DROP TABLE [dbo].[PHIEUBAOHANH]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 1/6/2025 9:22:18 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHANVIEN]') AND type in (N'U'))
DROP TABLE [dbo].[NHANVIEN]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 1/6/2025 9:22:18 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHACUNGCAP]') AND type in (N'U'))
DROP TABLE [dbo].[NHACUNGCAP]
GO
/****** Object:  Table [dbo].[MUA]    Script Date: 1/6/2025 9:22:18 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MUA]') AND type in (N'U'))
DROP TABLE [dbo].[MUA]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 1/6/2025 9:22:18 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KHACHHANG]') AND type in (N'U'))
DROP TABLE [dbo].[KHACHHANG]
GO
/****** Object:  Table [dbo].[HANGDONGHO]    Script Date: 1/6/2025 9:22:18 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HANGDONGHO]') AND type in (N'U'))
DROP TABLE [dbo].[HANGDONGHO]
GO
/****** Object:  Table [dbo].[DONGHO]    Script Date: 1/6/2025 9:22:18 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DONGHO]') AND type in (N'U'))
DROP TABLE [dbo].[DONGHO]
GO
/****** Object:  Table [dbo].[DIACHIGIAOHANG]    Script Date: 1/6/2025 9:22:18 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIACHIGIAOHANG]') AND type in (N'U'))
DROP TABLE [dbo].[DIACHIGIAOHANG]
GO
USE [master]
GO
/****** Object:  Database [cuahang_dongho_new]    Script Date: 1/6/2025 9:22:18 PM ******/
DROP DATABASE [cuahang_dongho_new]
GO
/****** Object:  Database [cuahang_dongho_new]    Script Date: 1/6/2025 9:22:18 PM ******/
CREATE DATABASE [cuahang_dongho_new] ON  PRIMARY 
( NAME = N'cuahang_dongho_new', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\cuahang_dongho_new.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'cuahang_dongho_new_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\cuahang_dongho_new_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cuahang_dongho_new].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cuahang_dongho_new]
GO
/****** Object:  Table [dbo].[DIACHIGIAOHANG]    Script Date: 1/6/2025 9:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIACHIGIAOHANG](
	[MADIACHI] [varchar](10) NOT NULL,
	[MAKHACHHANG] [varchar](10) NOT NULL,
	[TENTINH] [nvarchar](20) NOT NULL,
	[TENHUYEN] [nvarchar](20) NOT NULL,
	[DIACHICUTHE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DIACHIGIAOHANG] PRIMARY KEY CLUSTERED 
(
	[MADIACHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONGHO]    Script Date: 1/6/2025 9:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONGHO](
	[MADONGHO] [varchar](20) NOT NULL,
	[MAHANG] [varchar](10) NOT NULL,
	[MANHANVIEN] [varchar](10) NOT NULL,
	[MACAUHINH] [varchar](10) NOT NULL,
	[MANHACUNGCAP] [varchar](10) NOT NULL,
	[TENDONGHO] [varchar](20) NOT NULL,
	[GIA] [money] NOT NULL,
	[SOLUONG] [varchar](20) NOT NULL,
	[MOTA] [nvarchar](200) NULL,
	[HINHANH] [nvarchar](1000) NULL,
	[LOAIDONGHO] [nvarchar](20) NOT NULL,
	[TRANGTHAI] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DONGHO] PRIMARY KEY CLUSTERED 
(
	[MADONGHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGDONGHO]    Script Date: 1/6/2025 9:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGDONGHO](
	[MAHANG] [varchar](10) NOT NULL,
	[TENHANG] [varchar](30) NOT NULL,
 CONSTRAINT [PK_HANGDONGHO] PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 1/6/2025 9:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [varchar](10) NOT NULL,
	[HOKH] [nvarchar](20) NOT NULL,
	[TENKH] [nvarchar](20) NOT NULL,
	[GIOITINHKH] [nvarchar](10) NOT NULL,
	[CMND] [varchar](20) NULL,
	[DIACHIKH] [nvarchar](50) NOT NULL,
	[SDTKH] [varchar](15) NOT NULL,
	[EMAILKH] [varchar](30) NULL,
	[NGAYSINHKH] [datetime] NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUA]    Script Date: 1/6/2025 9:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUA](
	[MAPHIEUBAOHANH] [varchar](15) NOT NULL,
	[MADONGHO] [varchar](20) NOT NULL,
	[MAKHACHHANG] [varchar](10) NOT NULL,
	[NGAYMUA] [datetime] NULL,
	[DONGIA] [money] NULL,
	[GHICHU] [nvarchar](100) NULL,
 CONSTRAINT [PK_MUA] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUBAOHANH] ASC,
	[MADONGHO] ASC,
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 1/6/2025 9:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACUNGCAP] [varchar](10) NOT NULL,
	[TENNCC] [nvarchar](20) NOT NULL,
	[DIACHINCC] [nvarchar](50) NOT NULL,
	[EMAILNCC] [varchar](30) NULL,
	[SDTNCC] [varchar](15) NOT NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 1/6/2025 9:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [varchar](10) NOT NULL,
	[HONV] [nvarchar](20) NOT NULL,
	[TENNV] [nvarchar](20) NOT NULL,
	[GIOITINHNV] [nvarchar](10) NOT NULL,
	[NGAYSINHNV] [datetime] NOT NULL,
	[DIACHINV] [nvarchar](50) NOT NULL,
	[SDTNV] [varchar](15) NOT NULL,
	[EMAILNV] [varchar](30) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUBAOHANH]    Script Date: 1/6/2025 9:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUBAOHANH](
	[MAPHIEUBAOHANH] [varchar](15) NOT NULL,
	[NGAYBATDAU] [datetime] NOT NULL,
	[NGAYKETTHUC] [datetime] NOT NULL,
 CONSTRAINT [PK_PHIEUBAOHANH] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUBAOHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGSOKITHUAT]    Script Date: 1/6/2025 9:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGSOKITHUAT](
	[MACAUHINH] [varchar](10) NOT NULL,
	[KICHTHUOC] [nvarchar](20) NOT NULL,
	[TRONGLUONG] [nvarchar](20) NOT NULL,
	[XUATXU] [nvarchar](10) NOT NULL,
	[CHATLIEUVO] [nvarchar](20) NOT NULL,
	[CHATLIEUDAYDEO] [nvarchar](20) NOT NULL,
	[CHATLIEUMATKINH] [nvarchar](10) NOT NULL,
	[KHANANGCHONGNUOC] [nvarchar](15) NOT NULL,
	[TUOITHOPIN] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_THONGSOKITHUAT] PRIMARY KEY CLUSTERED 
(
	[MACAUHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HANGDONGHO] ([MAHANG], [TENHANG]) VALUES (N'dfghj', N'dfghjk')
GO
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [HOKH], [TENKH], [GIOITINHKH], [CMND], [DIACHIKH], [SDTKH], [EMAILKH], [NGAYSINHKH]) VALUES (N'df ghj', N'sdfghdhj', N'sdfgh', N'd', N'dfghj', N'fghjk', N'05424', N's@', CAST(N'2024-12-13T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNCC], [DIACHINCC], [EMAILNCC], [SDTNCC]) VALUES (N'dfghjk', N'df', N'dfghj', N'@', N'0')
GO
INSERT [dbo].[PHIEUBAOHANH] ([MAPHIEUBAOHANH], [NGAYBATDAU], [NGAYKETTHUC]) VALUES (N'dfghj', CAST(N'2024-12-13T00:00:00.000' AS DateTime), CAST(N'2024-12-13T00:00:00.000' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MUAQUA_FK]    Script Date: 1/6/2025 9:22:18 PM ******/
CREATE NONCLUSTERED INDEX [MUAQUA_FK] ON [dbo].[DIACHIGIAOHANG]
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [BAOGOM_FK]    Script Date: 1/6/2025 9:22:18 PM ******/
CREATE NONCLUSTERED INDEX [BAOGOM_FK] ON [dbo].[DONGHO]
(
	[MACAUHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CUNGCAP_FK]    Script Date: 1/6/2025 9:22:18 PM ******/
CREATE NONCLUSTERED INDEX [CUNGCAP_FK] ON [dbo].[DONGHO]
(
	[MANHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [QUANLY_FK]    Script Date: 1/6/2025 9:22:18 PM ******/
CREATE NONCLUSTERED INDEX [QUANLY_FK] ON [dbo].[DONGHO]
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [THUOC_FK]    Script Date: 1/6/2025 9:22:18 PM ******/
CREATE NONCLUSTERED INDEX [THUOC_FK] ON [dbo].[DONGHO]
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MUA_FK]    Script Date: 1/6/2025 9:22:18 PM ******/
CREATE NONCLUSTERED INDEX [MUA_FK] ON [dbo].[MUA]
(
	[MAPHIEUBAOHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MUA2_FK]    Script Date: 1/6/2025 9:22:18 PM ******/
CREATE NONCLUSTERED INDEX [MUA2_FK] ON [dbo].[MUA]
(
	[MADONGHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MUA3_FK]    Script Date: 1/6/2025 9:22:18 PM ******/
CREATE NONCLUSTERED INDEX [MUA3_FK] ON [dbo].[MUA]
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIACHIGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_DIACHIGI_MUAQUA_KHACHHAN] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[DIACHIGIAOHANG] CHECK CONSTRAINT [FK_DIACHIGI_MUAQUA_KHACHHAN]
GO
ALTER TABLE [dbo].[DONGHO]  WITH CHECK ADD  CONSTRAINT [FK_DONGHO_BAOGOM_THONGSOK] FOREIGN KEY([MACAUHINH])
REFERENCES [dbo].[THONGSOKITHUAT] ([MACAUHINH])
GO
ALTER TABLE [dbo].[DONGHO] CHECK CONSTRAINT [FK_DONGHO_BAOGOM_THONGSOK]
GO
ALTER TABLE [dbo].[DONGHO]  WITH CHECK ADD  CONSTRAINT [FK_DONGHO_CUNGCAP_NHACUNGC] FOREIGN KEY([MANHACUNGCAP])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACUNGCAP])
GO
ALTER TABLE [dbo].[DONGHO] CHECK CONSTRAINT [FK_DONGHO_CUNGCAP_NHACUNGC]
GO
ALTER TABLE [dbo].[DONGHO]  WITH CHECK ADD  CONSTRAINT [FK_DONGHO_QUANLY_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[DONGHO] CHECK CONSTRAINT [FK_DONGHO_QUANLY_NHANVIEN]
GO
ALTER TABLE [dbo].[DONGHO]  WITH CHECK ADD  CONSTRAINT [FK_DONGHO_THUOC_HANGDONG] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANGDONGHO] ([MAHANG])
GO
ALTER TABLE [dbo].[DONGHO] CHECK CONSTRAINT [FK_DONGHO_THUOC_HANGDONG]
GO
ALTER TABLE [dbo].[MUA]  WITH CHECK ADD  CONSTRAINT [FK_MUA_MUA_PHIEUBAO] FOREIGN KEY([MAPHIEUBAOHANH])
REFERENCES [dbo].[PHIEUBAOHANH] ([MAPHIEUBAOHANH])
GO
ALTER TABLE [dbo].[MUA] CHECK CONSTRAINT [FK_MUA_MUA_PHIEUBAO]
GO
ALTER TABLE [dbo].[MUA]  WITH CHECK ADD  CONSTRAINT [FK_MUA_MUA2_DONGHO] FOREIGN KEY([MADONGHO])
REFERENCES [dbo].[DONGHO] ([MADONGHO])
GO
ALTER TABLE [dbo].[MUA] CHECK CONSTRAINT [FK_MUA_MUA2_DONGHO]
GO
ALTER TABLE [dbo].[MUA]  WITH CHECK ADD  CONSTRAINT [FK_MUA_MUA3_KHACHHAN] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[MUA] CHECK CONSTRAINT [FK_MUA_MUA3_KHACHHAN]
GO
USE [master]
GO
